*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}


:root{
    --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --cor1: #13678A;
    --cor2: #012030;
    --cor3: #F5F5F5;
    --cor4: #0066FF;
    --cor5: #1371ff71;
    --cor6: #0066FF;
    --cor7: rgb(38, 156, 224);

}

header{
    display: flex;
    padding: 8px 30px 30px;
    height: 120px;
    max-width: 1380px;
    gap: 20px;
    background-color: rgb(38, 156, 224);
    justify-content: space-between;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;

}
nav li a{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
    font-family: var(--font-main);
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
}

nav li a.a{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
    font-family: var(--font-main);
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    text-align: left;
    line-height: 3;
}

nav a.a:hover{
    font-weight: bold;
    background-color: rgba(36, 133, 190, 0.795);
    border-radius: 8px;
    padding: 2px;
    color:rgba(247, 247, 247, 0.849);
}

nav ul li + li{
    margin-left: 16px;
}

header img{
    width: 80px;
}

.dropmenu {
    position: absolute;
    border: 0 0px 1px black;
    display: none;
    padding: 4px;
    z-index: 999;
}
.dropmenu a.a{
    display: block;
    color: white;
}
.dropdown:hover .dropmenu{
    background-color: rgba(36, 133, 190, 0.795);   
    display: block;
}
ul li a:hover {
    text-decoration: none;
    color: black;
}





/*Banner*/
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./realistic-world-health-day-illustration/5071462.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
 }
/*Banner*/